# Dependencias
node_modules/
.pnpm-store/

# Builds
dist/
build/
*.tsbuildinfo

# Tests / coverage
coverage/
playwright-report/
test-results/

# Entorno
.env
.env.local
.env.*.local

# Editor / SO
.DS_Store
.idea/
.vscode/*
!.vscode/extensions.json

# Logs
*.log
npm-debug.log*
pnpm-debug.log*
